<%= render "layouts/errors", :object => @review %>

<%= form_for [@product, @review], remote: true do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control edit-review-field", placeholder: "Your Review" %>
    <%= f.submit class: "btn btn-inverse" %>
  </div>
<% end %>
