<%= render "layouts/errors", :object => @review %>

<%= form_for @review, url: get_review_url(@review), remote: true do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control", placeholder: "Your Review" %>
  </div>
  <%= f.submit class: "btn btn-inverse" %>
<% end %>
